<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.albumapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera2" />
    <!-- show location for captured image -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- permission for deleting multiple file -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" tools:ignore="ScopedStorage" />
    <!-- set image wallpaper -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlbumApp">
        <activity android:name=".FilterActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".SlideshowActivity" />
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" /> <!-- optional (needed if default theme has no action bar) -->
        <activity android:name=".FullScreenImageActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".FullScreenVideoActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".ChangePasswordActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".SetPasswordActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".PasswordActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".MainActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".GifIntroActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".SplashScreenActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mydomain.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>